{% extends 'base/base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'about/faq.css' %}">
{% endblock %}

{% block content %}
<div>
    <div style="margin-left: 10%; width: 80%" class="update-container">
        <h1>FAQ</h1>
        <ol>
            {% for question in question_list %}
            <li>
                <div class="dropdown">
                    <h2 class="mt-3"><u>{{ question.question }}</u></h2>
                    <p class="dropdown-child">{{ question.answer }}</p>
                </div>
            </li>
            {% empty %}
            <strong>No FAQ available</strong>
            {% endfor %}
        </ol>
        <hr class="margin-top: 2%" style="height: 5px; background: black; width: 80%; margin: 20px auto;">
        <p style="text-align: center;">{{ quote }}</p>
    </div>
</div>
{% endblock %}