{% extends 'base/base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'about/policy.css' %}">
{% endblock %}

{% block content %}
<div>
    <div style="margin-left: 10%; width: 80%" class="update-container">
        <h1><strong>Privacy Policy</strong></h1>
        <p class="margin-top: 2%"><strong>Effective Date:</strong> 2023.10.10</p>
    
        <h2>1. Introduction</h2>
        <p>This Privacy Policy ("Policy") describes how DreamService (referred to as "We", "Our Company") collects, uses, and discloses information that you provide to us when using our services. We value your privacy and are committed to protecting it.</p>
    
        <h2>2. Information Collection</h2>
        <p>We collect the following types of information:</p>
        <ul>
            <li><strong>Personal Information:</strong> Such as your name, address, phone number, email address, and other contact details that you provide when placing an order or contacting us.</li>
            <li><strong>Device Information:</strong> We may automatically collect information about your device, including IP address, device type, browser, operating system, and other technical details.</li>
            <li><strong>Interaction Information:</strong> We may collect information about your interactions with our services, including details about orders, inquiries, comments, and other actions related to our services.</li>
        </ul>
    
        <h2>3. Use of Information</h2>
        <p>We use the information provided to us for the following purposes:</p>
        <ul>
            <li>Performing repairs and servicing your equipment.</li>
            <li>Providing quality customer service.</li>
            <li>Improving our services and developing new ones.</li>
            <li>Complying with legal requirements and obligations.</li>
        </ul>
    
        <h2>4. Information Disclosure</h2>
        <p>We do not disclose your personal information to third parties without your consent, except as required by law.</p>
    
        <h2>5. Information Security</h2>
        <p>We take measures to ensure the security of your data, including the use of encryption and other technical safeguards.</p>
    
        <h2>6. Data Retention</h2>
        <p>We retain your information only for as long as necessary to achieve the purposes mentioned above or as required by applicable law.</p>
    
        <h2>7. Your Rights and Choices</h2>
        <p>You have the right to request access to your personal information, correct it, delete it, or restrict its processing. You can also withdraw your consent for data processing at any time.</p>
    
        <h2>8. Policy Changes</h2>
        <p>We reserve the right to make changes to this Privacy Policy. Changes will become effective upon publication on our website.</p>
    
        <h2>9. Contact Us</h2>
        <p>If you have any questions or concerns regarding our Privacy Policy, please contact us using the following details:</p>
        <address>[Provide Contact Information]</address>
    </div>
</div>
{% endblock %}