{% extends 'base/base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'polls/services.css' %}">
{% endblock %}

{% block content %}
<div>
    <div>
        <div style="padding: 2%; display: inline-block; margin-left: 18%; width: 60%;" class="update-container">
            <h2>Availale services:</h2>
            <div>
                <div style="padding: 2%; display: inline-block; margin-left: 1%; width: 71%;" class="update-container">
                    <form method="get">
                        {% csrf_token %}
                        <div style="vertical-align: top; margin-top: 0;" class="form-group">
                            {{ search_form.search }}
                            <button type="submit">Search</button><br>
                            {% if search_form.search.errors %}
                            <small class="form-text text-danger">{{ search_form.search.errors }}</small>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div style="padding: 2%; display: inline-block; margin-left: 1%; width: 25%;" class="update-container">
                    <form method="get">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ order_form.order }}
                            <button type="submit">Order</button><br>
                            {% if order_form.order.errors %}
                            <small class="form-text text-danger">{{ order_form.order.errors }}</small>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <div style="display: inline-block; margin-left: 0%; width: 24%;">
                    <strong><p class="text-center">Service type:</p></strong>          
                </div>
                <div style="display: inline-block; margin-left: 1%; width: 24%;">
                    <strong><p class="text-center">Device type:</p></strong>          
                </div>
                <div style="display: inline-block; margin-left: 1%; width: 24%;">
                    <strong><p class="text-center">Part type:</p></strong>          
                </div>
                <div style="display: inline-block; margin-left: 1%; width: 23%;">
                    <strong><p class="text-center">Price:</p></strong>          
                </div>
            </div>
            {% for service in service_list.all %}
            <hr>
            <div>
                <div style="display: inline-block; margin-left: 0%; width: 24%;">
                    <p class="text-center">{{ service.servicetype }}</p>          
                </div>
                <div style="display: inline-block; margin-left: 1%; width: 24%;">
                    <p class="text-center">{{ service.devicetype }}</p>          
                </div>
                <div style="display: inline-block; margin-left: 1%; width: 24%;">
                    <p class="text-center">{{ service.parttype }}</p>          
                </div>
                <div style="display: inline-block; margin-left: 1%; width: 23%;">
                    <p class="text-center">{{ service.price }}</p>          
                </div>
            </div>
            {% empty %}
            <div class="alert alert-secondary">
                <strong><p class="text-center">There are no available parts</p></strong>
            </div>
            {% endfor %}
            <hr>
            <hr style="height: 5px; background: black; width: 80%; margin: 20px auto;">
            <p class="text-center">{{ quote }}</p>
        </div>
        <div style="margin-top: 4%; display: inline-block; width: 16%; vertical-align: top; margin-left: 1%;">
            <div class="filter-container">
                <form method="get">
                    {% csrf_token %}
                    <div>
                        <div style="display: inline-block; width: 45%; margin-left: 2%;">
                            <label style="text-align: center;" for="{{ filter_form.servicetype.id_for_label }}">{{ filter_form.servicetype.label_tag }}</label>
                            <div>
                                {{ filter_form.servicetype }}                            
                            </div>
                            {% if filter_form.servicetype.errors %}
                            <small class="form-text text-danger">{{ filter_form.servicetype.errors }}</small>
                            {% endif %}
                        </div>
                        <div style="display: inline-block; width: 43%; margin-left: 8%;">
                            <label style="text-align: center;" for="{{ filter_form.devicetype.id_for_label }}">{{ filter_form.devicetype.label_tag }}</label>
                            <div>
                                {{ filter_form.devicetype }}                            
                            </div>
                            {% if filter_form.devicetype.errors %}
                            <small class="form-text text-danger">{{ filter_form.devicetype.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <div style="display: inline-block; width: 45%; margin-left: 2%;">
                            <label style="text-align: center;" for="{{ filter_form.parttype.id_for_label }}">{{ filter_form.parttype.label_tag }}</label>
                            <div>
                                {{ filter_form.parttype }}                            
                            </div>
                            {% if filter_form.parttype.errors %}
                            <small class="form-text text-danger">{{ filter_form.parttype.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="margin-left: 4%; width: 84%">
                            <label style="text-align: center;" for="{{ filter_form.price_from.id_for_label }}">{{ filter_form.price_from.label_tag }}</label>
                            <div>
                                {{ filter_form.price_from }}                            
                            </div>
                            {% if filter_form.price_from.errors %}
                            <small class="form-text text-danger">{{ filter_form.price_from.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="display: inline-block; margin-left: 4%; width: 84%;">
                            <label style="text-align: center;" for="{{ filter_form.price_to.id_for_label }}">{{ filter_form.price_to.label_tag }}</label>
                            <div>
                                {{ filter_form.price_to }}                            
                            </div>
                            {% if filter_form.price_to.errors %}
                            <small class="form-text text-danger">{{ filter_form.price_to.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="offset-sm-4 col-sm-4">
                            <div>
                                <button type="submit" style="margin: auto auto;">Filter</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}