{% extends 'base/base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'authentication/login.css' %}">
{% endblock %}

{% block content %}
<div>
    <div style="margin-left: 30%; width: 40%;" class="update-container">
        <h2 class="mb-4">Login</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" style="display: inline-block; width: 100px;">{{ field.label_tag }}</label>
                <div style="display: inline-block; width: 20px;">
                    {{ field }}
                    {% if field.errors %}
                    <small class="form-text text-danger">{{ field.errors }}</small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="form-group">
                <div>
                    <small>Don't have an account? </small>
                    <a href = {% url 'authentication:registration' %}{% if next %}?next={{ next }}{% endif %}><small>Rigister</small></a>
                </div>
            </div>
            <div class="form-group">
                <div style="margin-left: 50%;">
                <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}